<footer class="su-global-footer" aria-label="Global Footer">
  <div class="su-global-footer__container">
    
    <div class="su-global-footer__logo">
      <a href="https://www.stanford.edu" class="su-logo" title="Stanford University Home">
        Stanford University
      </a>
    </div>

    <nav class="su-global-footer__nav" aria-label="University Policy Links">
      <ul class="su-global-footer__links">
        <li><a href="https://www.stanford.edu">Stanford Home</a></li>
        <li><a href="https://visit.stanford.edu/plan/">Maps &amp; Directions</a></li>
        <li><a href="https://www.stanford.edu/search/">Search Stanford</a></li>
        <li><a href="https://emergency.stanford.edu">Emergency Info</a></li>
      </ul>
      <ul class="su-global-footer__policy-links">
        <li><a href="https://www.stanford.edu/site/terms/">Terms of Use</a></li>
        <li><a href="https://www.stanford.edu/site/privacy/">Privacy</a></li>
        <li><a href="https://uit.stanford.edu/security/copyright-infringement">Copyright</a></li>
        <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4">Trademarks</a></li>
        <li><a href="https://equity.stanford.edu/notice-nondiscrimination">Non-Discrimination</a></li>
        <li><a href="https://www.stanford.edu/site/accessibility/">Accessibility</a></li>
      </ul>
    </nav>

    <div class="su-global-footer__copyright">
      <p>&copy; {{ now.Format "2006" }} Stanford University. Stanford, California 94305.</p>
    </div>

  </div>
</footer>