<footer class="su-global-footer" aria-label="Global Footer">
  <div class="su-global-footer__container">
    
    <div class="su-global-footer__logo">
      <a href="https://www.ocsd62.org/" class="su-logo" title="Oregon City School District Home">
        <img src="/logo.png" alt="OCSD Logo" width="198" height="109">
      </a>


<div class="su-global-footer__location_header">Find Us</div>
<div class="su-global-footer__location">
Oregon City School District 62
1417 12th St.
Oregon City, Oregon 97045
Phone: (503) 785-8000
</div>

    </div>

    <nav class="su-global-footer__nav" aria-label="University Policy Links">
      <ul class="su-global-footer__links">
        <li><a href="https://www.ocsd62.org">District Home</a></li>
        <li><a href="https://launchpad.classlink.com/ocsd62">Classlink</a></li>
        <li><a href="https://www.ocsd62.org/o/ocsd/page/safety">Safety</a></li>
        <li><a href="https://www.ocsd62.org/o/ocsd/page/ocsd-district-policies">Policies</a></li>
        <li><a href="https://www.ocsd62.org/o/ocsd/page/public-records-request">Public Records Request</a></li>
        <li><a href="https://www.ocsd62.org/o/ocsd/page/immunization">Immunization</a></li>
        <li><a href="https://www.ocsd62.org/inclement-weather">Inclement Weather</a></li>
        <li><a href="https://www.ocschoolbond.org/">OCSD School Bond</a></li>
        <li><a href="https://www.ocsd62.org/o/ocsd/page/photo-sharing-information">Photo Sharing</a></li>
        <li><a href="https://www.ocsd62.org/o/ocsd/page/media">Media</a></li>



<li><a href="https://www.ocsd62.org/o/ocsd/page/bias-reporting">Bias Reporting</a></li>
<li><a href="https://www.ocsd62.org/o/ocsd/page/non-discrimination">Non Discrimination</a></li>
<li><a href="https://www.ocsd62.org/o/ocsd/page/public-complaint-procedure-kl-ar-1">Complaints</a></li>
<li><a href="https://www.ode.state.or.us/data/reportcard/reports.aspx?id=1928">At A Glance Report Card</a></li>
<li><a href="https://www.ocsd62.org/o/ocsd/page/accessibility">Accessibility</a></li>


      </ul>
    </nav>

    <div class="su-global-footer__copyright">
      <p>&copy; {{ now.Format "2006" }} Oregon City School District. Oregon City, Oregon 97045.</p>
     
    </div>

  </div>
</footer>