<section class="su-identity-guide-block" aria-label="Stanford Identity Guide Information">
  <div class="su-container su-identity-guide-inner">
    
    <div class="su-identity-col">
      <h2 class="su-identity-title">OCSD <span class="su-identity-title--light">{{ .Site.Params.siteTitleSubtitle }}</span></h2>
      <p class="su-identity-lead">
        This site is created as an example site for supporting sub websites for the <strong>Oregon City School District</strong>
      </p>
      <p class="su-identity-subtext">
      
      </p>
    </div>

    <div class="su-identity-col">
      <h3 class="su-identity-heading">Questions?</h3>
      <ul class="su-identity-contact-list">
        <li>
          For questions about this site: 
          <a href="mailto:DesignIdentity@stanford.edu">support@orecity.k12.or.us</a>
        </li>
 
      </ul>
    </div>

  </div>
</section>